{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}
{% block body %}
    <div class="container">
    <h1 class="text-center mt-5">Login form</h1>
    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path('app_login') }}" method="post">
        <input type="hidden" id="username" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="_username" value="{{ last_username }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="_password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}